// colors
$black: #000000;
$white: #ffffff;
$blue: #5da09c;
$gray: #eeeeee;

$color-primary: $blue;
$color-secondary: $white;
$color-icon: $blue;
$color-bg: $gray;

// size
$padding: 40px;
$font-size-text: 16px;
$font-size-title: 24px;

